.api-string {
    font-size: 1rem;
}

.centered_div {
    text-align: center;
}

.cube-img {
    width: 50px;
    height: 50px;
}

.form-floating textarea {
  resize: vertical;
  height: auto;
}

.form-floating textarea[rows] {
  height: calc(2em * var(--rows, 4));
}

.gradient-background {
    background: linear-gradient(236deg, #9aa1a7, #f3a17c, #4b88c1);
    background-size: 600% 600%;

    -webkit-animation: CustomGradient 60s ease infinite;
    -moz-animation: CustomGradient 60s ease infinite;
    animation: CustomGradient 60s ease infinite;
}

@-webkit-keyframes CustomGradient {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}
@-moz-keyframes CustomGradient {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}
@keyframes CustomGradient {
    0%{background-position:0% 60%}
    50%{background-position:100% 41%}
    100%{background-position:0% 60%}
}

@media (max-width: 992px) {
    .api-string {
        font-size: 0.80rem;
    }
}

@media (max-width: 575px) {
    .api-string {
        font-size: 0.75rem;
    }
}

@media (max-width: 420px) {
    .api-string {
        font-size: 0.50rem;
    }
}

@media (max-width: 575px) {
    .form-floating label {
        font-size: 0.75rem;
    }
}

@media (max-width: 400px) {
    .custom-xs-font {
        font-size: 1.4rem !important;
    }
}

@media (max-width: 992px) {
    .cube-img {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 475px) {
    .options-svg {
        width: 1.2em;
        height: 1.2em;
    }
}

[class*="border-"] {
    --bs-border-opacity: 0.7;
}

[class*="btn"] {
     --bs-focus-ring-blur: 4px;
     --bs-focus-ring-x: 5px;
     --bs-focus-ring-y: 5px;
}

.custom-list {
  list-style-type: circle;
}

.font-times {
font-family: 'Times New Roman', Times, serif;
}

.font-courier {
font-family: 'Courier New', Courier, monospace;
}

.font-segoe {
font-family: 'Segoe Script', cursive;
}
