{% extends 'base.html' %}

{% block content %}

<div class="container px-3 px-lg-5" style="max-width: 1000px;">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ url_for('static', filename='images/pic4.jpeg') }}" class="d-block mx-lg-auto img-fluid" alt="picture of a to-do list" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h5 class="fw-bold text-body-emphasis lh-1 mb-3">This website has been created as a part of a developer portfolio.</h5>
      <br>
      <p><strong>See the project GitHub repository:&nbsp;&nbsp;</strong>
          <a href="https://github.com/Pashinger/To-do-list" target="_blank">
            <img src="{{ url_for('static', filename='images/github-mark.png') }}" alt="Project GitHub repository" width="30" height="30">
          </a>
      </p>
      <p><strong>Visit the creator's LinkedIn profile:&nbsp;&nbsp;</strong>
          <a href="https://www.linkedin.com/in/jakub-gniewek-375a021a0/" target="_blank">
            <img src="{{ url_for('static', filename='images/LI-Logo.png') }}" alt="LinkedIn" width="100" height="30">
          </a>
      </p>

        <p><strong>The features included are:</strong></p>
        <ul>
          <li>easy to-do lists creation, modification, labeling</li>
          <li>integration with Google Calendar API - the user is able to add the tasks into Google Calendar environment</li>
          <li>integration with Google Calendar API - the user is able to add the tasks into Google Calendar environment</li>
          <li>secure username and password recovery using token verification</li>
          <li>the user can download the lists as PDF files</li>
        </ul>
        <p><strong>Main technologies used:</strong></p>
        <ul>
          <li>Flask</li>
          <li>Bootstrap</li>
          <li>SQLAlchemy</li>
          <li>MySQL</li>
          <li>Python</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>code snippets in Javascript</li>
          <li>libraries such as itsdangerous, datetime, werkzeug, wtforms</li>
        </ul>
    </div>
  </div>
</div>

{% endblock %}
