{% extends 'base.html' %}

{% block content %}

<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Create a new account</h1>
      </div>
      <div class="modal-body p-5 pt-0">
        <form method="POST">
          <div class="form-floating mb-3">
            {{ form.hidden_tag() }}
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
          </div>
          <div class="form-floating mb-3">
              {{ form.email.label(class="form-label") }}
              {{ form.email(class="form-control") }}
          </div>
          <div class="form-floating mb-3">
              {{ form.password.label(class="form-label") }}
              {{ form.password(class="form-control") }}
          </div>
          <div class="form-floating mb-3">
              {{ form.recaptcha }}
          </div>
          {{ form.sign_up_submit(class="btn btn-dark") }}
          <hr class="my-4">
            <div>
                <a class="btn btn-link d-block text-center" href="{{ url_for('account_login') }}">Do you already have an account? Log in here</a>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}