{% extends 'base.html' %}

{% block content %}

<div class="d-flex flex-column flex-row p-5 gap-4 align-items-center justify-content-center col-md-12">
  <div class="list-group col-8 p-5 m-5 bg-body-tertiary border border-dark border-2">
    <div class="d-flex bg-body-secondary p-3 border border-bottom-0 rounded-top align-items-center position-relative">
      <h2 class="text-center w-100">{{ list_name }}</h2>
      <button class="btn position-absolute end-0 me-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
        </svg>
      </button>
    </div>
      {% for task in tasks_list %}
        <form method="POST" class="list-group-item d-flex gap-3">
          {{ checkbox_form.hidden_tag() }}
          <input type="hidden" name="checkbox_hidden" value="{{ loop.index0 }}">
          {% if task[2] %}
            {{ checkbox_form.checkbox(class="form-check-input flex-shrink-0",
                                      type="checkbox",
                                      onchange="this.form.submit();",
                                      style="font-size: 1.375em;",
                                      checked="checked"
                                      )
            }}
          {% else %}
            {{ checkbox_form.checkbox(class="form-check-input flex-shrink-0",
                                      type="checkbox",
                                      onchange="this.form.submit();",
                                      style="font-size: 1.375em;"
                                      )
            }}
          {% endif %}
          <div class="form-checked-content text-{{ task[1] }} {{ 'text-decoration-line-through' if task[2] else '' }}">
            <strong>{{ task[0] }}</strong>
              <div class="row position-relative">
                <div>
                  <button class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="0.5em" height="0.5em" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                      <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                  </button>
                  <button class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="0.5em" height="0.5em" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                      <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                  </button>
                </div>
                <div>
                  <button class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="0.5em" height="0.5em" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                  </button>
                  <button class="btn">x</button>
                </div>
            </div>
          </div>
        </form>
      {% endfor %}

    <form method="POST" class="list-group-item d-flex gap-3 bg-body-secondary">
      {{ add_form.hidden_tag() }}
      <div class="dropdown align-middle" style="padding-top: 12px;">
          <button class="btn p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ url_for('static', filename='images/colorbox.jpg') }}" style="width: 1.375em; height: 1.375em;" alt="colorbox" loading="lazy">
          </button>
          <ul class="dropdown-menu" style="min-width: auto; padding: 0; margin: 0;">
            <li><input class="form-check-input shadow-none flex-shrink-0 text-bg-success" type="radio" name="taskColor" value="success" style="font-size: 1.375em; padding: 0; margin: 0;"></li>
            <li><input class="form-check-input shadow-none flex-shrink-0 text-bg-warning" type="radio" name="taskColor" value="warning" style="font-size: 1.375em; padding: 0; margin: 0;"></li>
            <li><input class="form-check-input shadow-none flex-shrink-0 text-bg-primary" type="radio" name="taskColor" value="primary" style="font-size: 1.375em; padding: 0; margin: 0;"></li>
            <li><input class="form-check-input shadow-none flex-shrink-0 text-bg-danger" type="radio" name="taskColor" value="danger" style="font-size: 1.375em; padding: 0; margin: 0;"></li>
            <li><input class="form-check-input shadow-none flex-shrink-0 text-bg-secondary" type="radio" name="taskColor" value="secondary" style="font-size: 1.375em; padding: 0; margin: 0;"></li>
            <li><input class="form-check-input shadow-none flex-shrink-0 text-bg-dark" type="radio" name="taskColor" value="dark" style="font-size: 1.375em; padding: 0; margin: 0;"></li>
          </ul>
      </div>
      <div class="d-flex w-100 align-items-center">
        <div class="form-floating me-3 w-100">
          {{ add_form.new_task(class="form-control", id="floatingInput", placeholder="add_a_task") }}
          {{ add_form.new_task.label(class="form-label", for="floatingInput") }}
        </div>
          {{ add_form.new_task_submit(class="btn btn-dark") }}
      </div>
    </form>
  </div>
</div>

{% endblock %}