{% extends 'base.html' %}

{% block content %}

<div class="container px-3 px-lg-5" style="max-width: 1200px;">
  <div class="px-4 py-5 my-5 text-center">
    <div class="row align-items-center">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="fw-bold text-body-emphasis lh-1 mb-3">We're open to hearing your ideas!</h1>
          <p class="col-lg-10 fs-4">Suggest new features or improvements. You can use this contact form or reach us directly on
          <a href="https://www.linkedin.com/in/jakub-gniewek-375a021a0/" target="_blank">LinkedIn</a>.
          </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form method="POST" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
            {{ form.hidden_tag() }}
            <div class="form-floating mb-3">
              {{ form.provide_email(class="form-control", id="floatingInput", placeholder="name@example.com") }}
              {{ form.provide_email.label(class="form-label", for="floatingInput") }}
            </div>
            <div class="form-floating mb-3">
              {{ form.textarea(class="form-control", id="floatingTextarea", rows="5", placeholder="Write your ideas here:") }}
              {{ form.textarea.label(class="form-label", for="floatingTextarea") }}
            </div>
            <div class="mb-3">
              {{ form.recaptcha }}
            </div>
            <button class="w-100 btn btn-lg btn-dark" type="submit">Send</button>
          </form>
        </div>
    </div>
  </div>
</div>



{% endblock %}
