{% extends 'base.html' %}

{% block content %}
    <h2>Update your password</h2>
    <br>
    <form method="POST">
        {{ update_password_form.new_password.label(class="form-label") }}
        {{ update_password_form.new_password(class="form-control") }}
        <br>
        {{ update_password_form.new_password_confirm.label(class="form-label") }}
        {{ update_password_form.new_password_confirm(class="form-control") }}
        <br>
        {{ update_password_form.new_password_submit(class="btn btn-dark") }}
    </form>

{% endblock %}
