{% extends 'base.html' %}

{% block content %}

{% if user_lists %}
<div class="album py-5">
    <div class="container">
      <h1>Hello {{ current_user.username }},</h1>
      <p><h5>Your to-do lists:</h5></p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for user_list in user_lists %}
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
</div>
{% else %}
<div class="d-flex justify-content-center align-items-center m-5 p-5">
  <div class="card border-dark border-2 pt-5 px-5 pb-4 text-center bg-body-tertiary rounded-3 col-8">
      <div class="card-body">
          <h2><strong>You haven't saved a list yet!</strong></h2>
          <h2><strong>Make a new one:</strong></h2>
          <br>
          <a href="{{ url_for('home') }}" class="text-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
            </svg>
          </a>
      </div>
  </div>
</div>
{% endif %}

{% endblock %}